@font-face {
    font-family: 'pixeltype';
    src: url('pixeltype-webfont.woff2') format('woff2'),
         url('pixeltype-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
		font-family: 'pixeltype', monospace;
		width: 100%;
		max-width: 600px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
}
h1 {
		font-size: 80px;
}
h2 {
		font-size: 64px;
}
.share, .about, #copy-text {
		font-size: 48px;
}
h1, h2, p {
		margin: 30px;
}
.pixel {
    width: 30px;
    height: 30px;
    float: left;
    margin: 0;
    padding: 0;
		border: 1px solid white;
		background: lightblue;
}
.on {
		background: darkblue;
}

#editor {
    width: 320px;
    height: 320px;
		margin-left: auto ;
		margin-right: auto ;
		margin-bottom: 30px;
}
a {
		color: black;
		font-weight: bold;
}
.hidden {
		display: none;
}